/* Created by Mahdi Parastesh, Winter 2021 */
/* Github: https://github.com/fulcrum1378 */
/* All rights reserved. */

#main > p {
    width: calc(90% - 20px);
    border-bottom: 1px solid #555;
    padding: 10px 15px;
    text-align: right;
    font-size: 15px;
    margin: 0;
}
#main > p:hover {
    background-color: #555;
}
#main > p:last-child {
    border-bottom: none;
}
#main > p > span.badge {
    /*float: left;*/
}
#search {
    top: 60px;
}
