/* Created by Mahdi Parastesh, February and March 2021 */
/* Github: https://github.com/fulcrum1378 */
/* All rights are reserved. */

#installer {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
#installer p:nth-child(1) {
    font-size: 25px;
}
#installer p:nth-child(2) {
    font-size: 21px;
}
#installation_progress {
    width: 75%;
}

@media only screen and (max-width: 450px) {
    #installer p:nth-child(1) {
        font-size: 20px;
    }
    #installer p:nth-child(2) {
        font-size: 17px;
    }
}
