#login {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    text-align: center;
    transform: translateY(-50%);
}
#login input {
    width: 40%;
    border-radius: 6px;
    padding: 10px 20px;
    margin: 10px 0;
}

@media only screen and (max-width: 450px) {
    #login input {
        width: 85%;
    }
}
