/* Created by Mahdi Parastesh, February and March 2021 */
/* StackOverFlow: https://stackoverflow.com/users/10728785/mahdi-parastesh */
/* All rights reserved. */

div.symbol, .overflow {
    width: calc(90% - 20px);
    margin: 0;
}
div.symbol {
    padding: 10px 15px;
    border-bottom: 1px solid #555;
    text-align: right;
    font-size: 15px;
}
div.symbol#found {
    background-color: rgba(200, 0, 200, 0.25);
    box-shadow: 0 0 6px #AAA;
}
div.symbol:last-of-type {
    border-bottom: none;
}
div.symbol > label {
    padding-right: 5px;
}
div.symbol > span {
    cursor: text;
    font-size: 10px;
}
div.symbol:hover {
    background-color: #555;
}
div.symbol > img.more {
    width: 27px;
    height: 27px;
    float: left;
    margin-top: -14px;
}
.overflow {
    padding: 10px 15px;
    text-align: right;
    font-size: 15px;
    border-left: 1px solid #555;
    border-bottom: 1px solid #555;
    border-right: 1px solid #555;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 5px;
}
.overflow > p {
    margin: 0;
    padding: 7px 12px;
    border-bottom: 1px solid #404040;
    cursor: pointer;
}
.overflow > p:last-child {
    border-bottom: none;
}
.overflow > p:hover {
    background-color: #3F3F3F;
}
.overflow > p > label {
    text-align: right;
    font-size: 12px;
    padding-right: 5px;
    font-family: sans-serif;
}
.overflow > p > span {
    text-align: left;
    font-size: 13px;
    float: left;
}


@media only screen and (max-width: 450px) {
    div.symbol, .overflow {
        width: calc(100% - 20px);
    }
}
