.nav-tabs {
    border-bottom: 1px solid #888;
}
.nav-link {
    font-family: sans-serif;
    font-size: 15px;
    background-color: #333;
    color: #FFF;
    border: 1px solid #777 !important;
    border-right: none !important;
    border-radius: 0px !important;
}
.nav-link.active {
    background-color: #555 !important;
    color: #FFF !important;
}
.nav-link:last-child {
    border-left: none !important;
}

.container {
    margin-top: 30px;
    border: 1px solid #999;
    border-radius: 10px;
}
.container > div:first-child {
    border-bottom: 1px solid #999;
}
.container > div:first-child > div:first-child {
    border-top-right-radius: 10px;
}
.container > div:first-child > div:last-child {
    border-top-left-radius: 10px;
}
.container > div:first-child > div {
    font-weight: 600;
    padding: 12px 0;
}
.container > div > div {
    padding: 6px 0;
    font-size: 16px;
    cursor: pointer;
}
.container > div > div:hover {
    background-color: #444;
}
.copied {
    animation: copied 1000ms;
}
.container > div:last-child > div:first-child {
    border-bottom-right-radius: 10px;
}
.container > div:last-child > div:last-child {
    border-bottom-left-radius: 10px;
}



@keyframes copied {
    from { background-color: #41A244; }
    to { background-color: auto; }
}


@media only screen and (max-width: 450px) {
    .container > div > div {
        font-size: 12px;
    }
}
